#createLoad( $referenceColumns, $pk)

#createPackageVars($do.getColumns(false) $pk)

#createValidate($do.getColumns())

#createSave($do)

## isModified method
public boolean isModified() {
return isModified;
}

## delete method
public void delete(Connection c) throws SQLException {
/* disabled for now, as this isn't working quite right
#foreach($ref in $do.getForeignKeyReferences())
    for (${ref.getTableType()} ${ref.getRefName()}Element : ${ref.getRefName()}) {
        ${ref.getRefName()}Element.delete(c);
    }
#end
*/
#if($pk)


    try (
        PreparedStatement ps = c.prepareStatement("DELETE FROM ${do.getOwningSchema().getSchema()}.${do.tableName} WHERE id=?");
        ResultSet rs = DataConnector.getEasyResultSet(ps, Arrays.asList($pk.getCamelCaseName(false)))
    ) {
        rs.next();
    }
## TODO: delete down methods
#else
    throw new RuntimeException("method delete not supported on this object");
#end

}